$global-link-color: #003d5d;
$global-color: #003d5d;
$base-heading-color: #003d5d;
$global-font-family: 'TitilliumWeb';
$container-small-max-width: 1000px;
$global-primary-background: #003d5d;
$button-primary-background: #003d5d;

$green: #a6dd2c;
$grid-medium-gutter-horizontal: 20px;
$grid-medium-gutter-vertical: 20px;
